/* Selling Points Block — editor-only affordances. */

.isudev-selling-points .block-list-appender {
	grid-column: 1 / -1;
	position: unset;
}

@media (min-width: 782px) {

	.isudev-selling-points .block-list-appender {
		grid-column: span 4;
	}
}
